{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Login/Cadastrar
{% endblock title %}

{% block content %}

<div class="user-profile">

    {% if not request.session.logged_user %}
    <div class="form-login">
        <h4>Login</h4>
        <p>Já possui uma conta? Entre aqui:</p>

        <form method="post" action="{% url 'userprofile:login' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="inputUsuario">Usuário</label>
              <input type="text" name="username" class="form-control" id="inputUsuario" aria-describedby="usuarioHelp" placeholder="Digite seu usuário">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha">
            </div>
            <button type="submit" class="btn-form">Entrar</button>
        </form>
    </div>
    {% endif %}

    <div class="form-register">
        {% block signinheader %}
        <h4>Cadastro</h4>
        <p>Não possui conta? Crie uma aqui:</p>
        {% endblock signinheader %}

        <form action="{% url 'userprofile:createuser' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Usuário</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="usuarioHelp" placeholder="Digite seu usuário" placeholder="Insira um nome de usuário">
            </div>
            <div class="form-group">
                <label for="first_name">Nome</label>
                <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Insira seu primeiro nome">
            </div>
            <div class="form-group">
                <label for="last_name">Sobrenome</label>
                <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Insira seu sobrenome">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Insira uma senha">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar senha</label>
                <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirme sua senha">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Insira seu endereço de e-mail">
            </div>

            <div class="">
                <div class="">
                    <button type="submit" class="btn-form">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}