{% extends "base.html" %}

{% block title %}
Multas
{% endblock title %}

{% block content %}
    {% if fines %}
        <table>
            <thead>
                <tr>
                    <th>Protocolo</th>
                    <th>Valor</th>
                    <th>Empréstimo</th>
                    <th>Andamento</th>
                </tr>
            </thead>
            <tbody>
                {% for fine in fines %}
                    <tr>
                        <td>{{ fine.id }}</td>
                        <td>{{ fine.fine_value }}</td>
                        <td><a href="{% url 'booking:detail' fine.booking_id %}">Ver</a></td>
                        <td>{{ fine.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>Você não possui multas.</h4>
    {% endif %}
{% endblock content %}