<div class="filter-list-container">
    <div class="filter-container">
        <h2 class="filter-title">Autor</h2>
        <input type="checkbox" name="author1" id="author1" value="Autor 1">
        <label for="author1">Autor 1</label><br/>
        <input type="checkbox" name="author2" id="author2" value="Autor 2">
        <label for="author2">Autor 2</label><br/>
        <input type="checkbox" name="author3" id="author3" value="Autor 3">
        <label for="author3">Autor 3</label><br/>
    </div>

    <div class="filter-container">
        <h2 class="filter-title">Alguma coisa</h2>
        <input type="checkbox" name="coisa1" id="coisa1" value="Coisa 1">
        <label for="coisa1">Coisa 1</label><br/>
        <input type="checkbox" name="coisa2" id="coisa2" value="Coisa 2">
        <label for="coisa2">Coisa 2</label><br/>
        <input type="checkbox" name="coisa3" id="coisa3" value="Coisa 3">
        <label for="coisa3">Coisa 3</label><br/>
    </div>

    <form action="#">
        <button class="filter-button">Filtrar</button>
    </form>
</div>