*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --standard-font: "Montserrat", sans-serif;
    --main-color: rgba(255, 255, 255, 0.65);
    --secundary-color: #00EAAA;
    --dark-text: rgb(0, 75, 45);
    --light-text: rgb(15, 135, 85);
    --top-header: #8a8a8a;
    --bg-form-login: #1641dec9;
    --bg-form-register: #894c3bbb;
}

* a{
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 100%;
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--main-color);
    font-family: var(--standard-font);
}


button, input{
    font-family: var(--standard-font);
}

/* INDEX HTML */

.top-container{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    background-color: var(--top-header);
}

.my_header {
    width: 100%!important;
    height: inherit!important;
    display: flex!important;
    flex-direction: row;
    gap: 2rem;
    justify-content: center!important;
    align-items: center!important;
}

.my_header h1{
    font-size: 2.8rem;
    font-weight: bolder;
    color: black;
    animation: myHeaderH1Animation 1s ease-in-out;
}

.my_header img {
    width: 50px;
    animation-name: myHeaderImageAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes myHeaderH1Animation {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}

@keyframes myHeaderImageAnimation {
    0% {
        opacity: 0;
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.middle-container{
    height: 86vh;
    display: flex;
    flex-direction: row;
}

.left-content-container{
    /* background-color: rgb(0,255,200); */
    width: 20rem;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.filter-list-container{
    background-color: #1755a641;
    border-radius: 10px;
    height: max-content;
    width: 90%;
    /* border-top: .1rem ridge #000;
    border-left: .1rem ridge #000; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* margin: 1rem; */
}

.filter-container{
    /* background-color: aqua; */
    display: block;
    height: fit-content;
    width: 100%;
    margin-bottom: 2rem;
}

.filter-title{
    font-size: 1.4rem;
    color: var(--dark-text);
    margin-bottom: .5rem;
}

.filter-container input{
    height: 1rem;
    width: 1rem;
    margin-right: .3rem;
    cursor: pointer;
}

.filter-container label{
    font-size: 1.2rem;
    color: var(--light-text);
    cursor: pointer;
}

.filter-button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    padding: .1rem .5rem;
    float: right;
    box-shadow: rgba(0, 50, 100, .8) 0 .1rem .3rem .05em;
    font-size: 1.2rem;
    color: var(--dark-text);
    transition: all .3s ease-in-out;
}

.center-content-container {
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top-center-content-container{
    /* background-color: red; */
    height: 15%;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbox-container{
    height: 3rem;
    width: 80%;
}

.searchbox-container form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.searchbox-container form input{
    height: 100%;
    width: 96%;
    box-shadow: rgba(0, 50, 100, .8) 0 .1rem .3rem .05em;
    border: 1px solid transparent;
    border-radius: 1.5rem 0 0 2rem;
    outline: none;
    padding-left: 1rem;
    transition: all .4s ease-in-out;
}

.searchbox-container form input:focus {
    border: 1px solid rgba(0, 0, 0, 0.489);
}

.searchbox-container form button{
    background-color: var(--secundary-color);
    height: 100%;
    width: 4%;
    box-shadow: rgba(0, 50, 100, .8) 0 .1rem .3rem .05em;
    border: none;
    border-radius: 0 2rem 2rem 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox-container form button:hover img {
    animation: searchBoxButtonAnimation 1s ease-in-out alternate-reverse;
}

@keyframes searchBoxButtonAnimation {
    0% {
        margin-left: 0rem;
        transform: rotate(0);
        scale: 1;
    }
    50% {
        scale: 1.2;
        margin-left: 1rem;
    }
    100% {
        scale: 1;
        margin-left: 0;
        transform: rotate(360deg);
    }
}

.searchbox-container form button:active, .book-button:active, .filter-button:active{
    transform: translateY(.1rem);
}

.search-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.leftover-center-content-container {
    height: 100%;
    width: 100%;
    padding: 1rem 8rem 1rem 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.leftover-center-content-container > a {
    color: white;
    font-weight: 600;
    height: max-content;
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--bg-form-login);
    opacity: 0.8;
    transition: all .4s ease-in-out;
}

.leftover-center-content-container > a:hover {
    opacity: 1;
    scale: 1.025;
}

.book-list-container{
    height:100%;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 2rem;
}

.book-container{
    background-color: #fff;
    width: 100%;
    height: max-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: all .4s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.361);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.429);
    padding: 1rem;
    background-color: white;

    animation-name: bookContainerAnimation;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
}

@keyframes bookContainerAnimation {
    0% {
        opacity: 0;
        margin-top: 10rem;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.book-container:hover{
    transform: scale(1.010);
    border: 1px solid rgba(0, 0, 0, 0.494);
    box-shadow: 0px 0px 30px #1755A6;
}

.book-container a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .5rem;
    padding-bottom: 0;
}

.book-image{
    height: 15rem;
    max-width: max-content;
    margin-bottom: 8px;
}

.book-title{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--dark-text);
    width: 100%;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .2rem;
}

.book-description{
    font-size: 1.2rem;
    color: var(--light-text);
    width: 100%;
    text-transform: initial;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

.book-button{
    background-color: var(--secundary-color);
    cursor: pointer;
    font-weight: 400;
    color: black;
    border: none;
    box-shadow: rgba(0, 50, 100, .8) 0 .1rem .3rem .05em;
    border-radius: .5rem;
    padding: 0.7rem 2rem;
    transition: all .4s ease-in-out;
}

.book-button:hover, .filter-button:hover, .submit-button:hover{
    background-color: #00CD97;
    color: white;
}

.right-content-container{
    /* background-color: rgb(255,200,255); */
    position: absolute;
    top: 0;
    right: 20px;
    height: inherit;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-text{
    font-size: 1rem;
    color: var(--dark-text);
    display: none;
    visibility: hidden;
}

.nav-icon:active, .nav-text:active, .submit-button:active{
    transform: scale(.9);
    transition: all .1s ease-in-out;
}

.lateral-navbar-container{
    background-color: var(--secundary-color);
    height: 60%;
    width: 4rem;
    box-shadow: rgba(0, 50, 100, .8) 0 .1rem .3rem .05em;
    border-radius: 5rem;
    padding: 2rem 0;
    transition: all 0.2s ease-in-out;
    position: fixed;
    cursor: pointer;
}

.lateral-navbar-container:hover{
    width: 6rem;
}

.lateral-navbar-container ul li:hover .nav-text{
    display: block;
    visibility: visible;
}

.lateral-navbar-container ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.lateral-navbar-container ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lateral-navbar-container ul li, 
.lateral-navbar-container ul li a, 
.nav-icon{
    height: 2rem;
    width: 2rem;
}

.bottom-container{
    /* background-color: rgb(255, 0, 0); */
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    height: 5vh;
}

.my_footer{
    /* background-color: bisque; */
    position: absolute !important;
    height: inherit !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.my_footer span{
    font-size: 1rem;
}

/* LOGIN HTML */
.signup-form-container, .signin-form-container{
    display: none;
    visibility: hidden;
}

.user-form-container{
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;
    margin-top: 10vh;
}

.form-choice-container{
    display: inline-flex;
}

.form-choice{
    font-size: 2.4rem;
    color: var(--dark-text);
    cursor: pointer;
}

.form-choice:active{
    transform: translateY(.05rem);
    transition: all .1s ease-in-out;
}

.active-choice{ 
    color: var(--secundary-color);
    text-transform: uppercase;
    text-shadow: .2rem .2rem .3rem rgba(0, 50, 100, .8) ;
    transform: scale(.9) translateY(-.3rem);
    transition: all .3s ease-in-out;
}

.signup-form-container{
    /* background-color: #000; */
    min-height: fit-content;
    width: 50rem;
    box-shadow: rgba(0, 50, 100, .8) 0 .1rem .3rem .05em;
    border-radius: 2rem;
    padding: 2rem;
}

.signup-form-container form{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 6rem;
}

.signup-form-row-container{
    width: 20rem;
    display: flex;
    flex-direction: column;
}

.signup-form-container form input{
    box-shadow: rgba(0, 50, 100, .8) 0 .1rem .3rem .05em;
    height: 2.3rem;
    width: 100%;
    border: .1rem solid var(--dark-text);
    padding: .2rem .5rem;
    border-radius: 1rem;
    margin: .5rem 0;
}

.active-form{
    display: block;
    visibility: visible;
}

.signup-form-row-container button{
    margin-top: auto;
    margin-left: auto;
    background: none;
    border: none;
    box-shadow: rgba(0, 50, 100, .8) 0 .1rem .3rem .05em;
    border-radius: 2rem;
    padding: .1rem .4rem;
    cursor: pointer;
}

/* FORM - USER-PROFILE */
.user-profile {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 5rem;
    color: white;
}

.user-profile h4, .form-update h4, .table-content h3, .cart-content h3 {  
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.7rem;
}

.user-profile p, .form-update p, .cart-content p{
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.user-profile .form-login {
    width: 30%;
    height: max-content;
    background-color: var(--bg-form-login);
    padding: 5rem;
    border-radius: 10px;
}

.user-profile .form-register {
    width: 30%;
    height: max-content;
    background-color: var(--bg-form-register);
    padding: 5rem;
    border-radius: 10px;
}

.user-profile .form-group label, .form-update label {
    font-size: 1.3rem;
    font-weight: 500;
}

.user-profile .form-group input, .user-update .form-update input {
    display: block;
    padding: 0.7rem;
    border: 1px solid transparent;
    font-size: 1.3rem;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    transition: all .4s ease-in-out;
    margin-top: 0.4rem;
    margin-bottom: 1.3rem;
    transition: all .4s ease-in-out;
}

.user-profile .form-group input:focus, .user-update .form-update input:focus {
    border: 1px solid var(--secundary-color);
    outline: none;
    border-radius: 10px;
}

.user-profile .form-group input:focus  {
    border-radius: 10px;
}
 
.user-profile .btn-form, .form-update .btn-form {
    cursor: pointer;
    border: 1px solid transparent;
    width: 100%;
    border-radius: 6px;
    padding: 8px;
    background-color: var(--secundary-color);
    transition: all .4s ease-in-out;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
}

.user-profile .btn-form:hover, .form-update .btn-form:hover {
    border: 1px solid black;
    background-color: #00CD97;
}

/* MEDIA SCREEN FORM - USER-PROFILE */
@media screen and (max-width: 992px) {
    .user-profile {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .user-profile .form-register {
        width: 70%;
    }

    .user-profile .form-login {
        width: 70%;
    }
}

/* USER UPDATE */
.user-update {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem;
    color: white;
}

.user-update .form-update {
    width: 40%;
    height: max-content;
    background-color: var(--bg-form-login);
    padding: 5rem;
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    .user-update .form-update {
        width: 80%;
    }
}

/* FORM EMPRESTIMOS */
.table-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 5rem;
    color: white;
}

.table-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: max-content;
    background-color: var(--bg-form-login);
    padding: 5rem 0rem;
    border-radius: 10px;
}

.table-content > div > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin: 1.4rem;
    width: 90%;
}

.table, th, td {
    border: 1px solid black;    
    border-collapse: collapse;
}

.table > thead {
    background-color: #D6EEEE;
    color: black;
    font-weight: 700;
    font-size: 1.3rem;
}

.table .w-30 {
    width: 35%;
}

th, td {
    padding: 1rem;
}

.table tbody {
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.334);
}

/* CART */

.cart {
    padding: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;

}

.cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: max-content;
    background-color: var(--bg-form-login);
    padding: 5rem 0rem;
    border-radius: 10px;
    color: white;
}

/* ALERT MESSAGES */

.alert {
    position: absolute;
    top: 5.5rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.75rem;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem; 
    height: 30px;
    animation-name: alertAnimation;
    animation-duration: .7s;
    font-weight: 600;
}

@keyframes alertAnimation {
    0% {
        opacity: 0;
        top: 10rem;
    }
    100% {
        opacity: 1;
        top: 5.5rem;
    }
}
  
.alert-heading {
    color: inherit; }

.alert-link {
    font-weight: 700; }

.alert-dismissible {
    padding-right: 4rem; }
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit; }

.alert-primary {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb; }

.alert-primary hr {
    border-top-color: #abdde5; }

.alert-primary .alert-link {
    color: #062c33; }

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db; }
.alert-secondary hr {
    border-top-color: #c8cbcf; }
.alert-secondary .alert-link {
    color: #202326; }

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb; }
.alert-success hr {
    border-top-color: #b1dfbb; }
.alert-success .alert-link {
    color: #0b2e13; }

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb; }
.alert-info hr {
    border-top-color: #abdde5; }
.alert-info .alert-link {
    color: #062c33; }

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba; }
.alert-warning hr {
    border-top-color: #ffe8a1; }
.alert-warning .alert-link {
    color: #533f03; }

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb; }
.alert-danger hr {
    border-top-color: #f1b0b7; }
.alert-danger .alert-link {
    color: #491217; }

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe; }
.alert-light hr {
    border-top-color: #ececf6; }
.alert-light .alert-link {
    color: #686868; }

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca; }
.alert-dark hr {
    border-top-color: #b9bbbe; }
.alert-dark .alert-link {
    color: #040505; }