{% extends "base.html" %}
{% load static %}

{% block content %}

    {% if cart %}
        <h3>Livros para reservar</h3>
        <p>Livros adicionados à reservar.</p>
        <table>
            <tr>
                <th>Imagem</th>
                <th>Livro</th>
            </tr>

            {% for book in cart.values %}
            <tr>
                <td>
                    <img src="{% get_media_prefix %}{{ book.book_image }}">
                </td>
                <td>
                    <a href="{{ book.book_slug }}">
                    {{ book.book_title }}
                    </a>
                    <a href="{% url 'book:removefromcart' %}?id={{ book.book_id }}">
                        <i>X</i>
                    </a>
                </td>
            </tr>
            {% endfor %}

        </table>
        <a href="#">
            Finalizar a compra
        </a>

    {% else %}
        <h3>Livros para reservar</h3>
        <p>Não há livros para reservar.</p>

    {% endif %}

{% endblock content %}