{% extends "base.html" %}

{% load static %}

{% block title %}
{{ book.title }}
{% endblock title %}

{% block content %}

    {% if book.image %}
        <img src="{{ book.image.url }}">
    {% else %}
        <img src="{% static 'assets/img/default.jpg'%}" alt="{{ book.title }}">
    {% endif %}

    <h1>{{ book.title }}</h1>
    <p>{{ book.description }}</p>

    <table>
        <thead>
            <caption>Autores</caption>
            <tr>
                <th>Nome</th>
                <th>Nacionalidade</th>
                <th>Formação</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td>
                        <h3>{{ author.name }}</h3>
                    </td>
                    <td>
                        <h3>{{ author.nacionality }}</h3>
                    </td>
                    <td>
                        <h3>{{ author.education }}</h3>
                    </td>
                    <td>
                        <h3>{{ author.description }}</h3>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'book:listbooks' %}">
        <input type="button" value="Voltar">
    </a>
    {% if not book_is_suggestion %}
        <form action="{% url 'book:addtocart' %}" method="get">
            <input type="hidden" name="id" value="{{ book.id }}">
            <input type="submit" value="Reservar">
        </form>
    {% endif %}

{% endblock content %}
